[Desktop Entry]
Icon=application-pdf
Name=802.3-2012_section1.pdf
Type=Link
URL[$e]=file://$HOME/Downloads/802.3-2012_section1.pdf
X-KDE-LastOpenedWith=evince
