[Desktop Entry]
Icon=application-x-compressed-tar
Name=ALLGREY UniQ Edition.tar.gz
Type=Link
URL[$e]=file://$HOME/Downloads/ALLGREY%20UniQ%20Edition.tar.gz
X-KDE-LastOpenedWith=systemsettings
