[Desktop Entry]
Icon=text-plain
Name=FullFlat_20_blue.colors
Type=Link
URL[$e]=file://$HOME/Downloads/full_flat_2_0_by_lgsalvati-d4vrwgz/FullFlat_2.0/FullFlat_20_blue.colors
X-KDE-LastOpenedWith=systemsettings
