[Desktop Entry]
Icon=text-plain
Name=FullFlat2.0.qtcurve
Type=Link
URL[$e]=file://$HOME/Downloads/full_flat_2_0_by_lgsalvati-d4vrwgz/FullFlat_2.0/FullFlat2.0.qtcurve
X-KDE-LastOpenedWith=systemsettings
