[Desktop Entry]
Icon=image-jpeg
Name=IMG_4596.JPG
Type=Link
URL[$e]=file://$HOME/Downloads/Frankie/Frankie/IMG_4596.JPG
X-KDE-LastOpenedWith=gwenview
