[Desktop Entry]
Icon=application-pdf
Name=JPL_Coding_Standard_C.pdf
Type=Link
URL[$e]=file://$HOME/Downloads/JPL_Coding_Standard_C.pdf
X-KDE-LastOpenedWith=evince
