[Desktop Entry]
Icon=application-pdf
Name=Lake Anza - Water Quality Conditions (1).pdf
Type=Link
URL[$e]=file://$HOME/Downloads/Lake%20Anza%20-%20Water%20Quality%20Conditions%20(1).pdf
X-KDE-LastOpenedWith=evince
