[Desktop Entry]
Icon=text-html
Name=package.html
Type=Link
URL[$e]=file://$HOME/cm10/frameworks/base/core/java/android/view/package.html
X-KDE-LastOpenedWith=chromium
