[Desktop Entry]
Icon=text-x-csrc
Name=recv.c
Type=Link
URL[$e]=file://$HOME/code/sea/toolchain/newlib-2.0.0/newlib/libc/sys/linux/net/recv.c
X-KDE-LastOpenedWith=kwrite
