[Desktop Entry]
Icon=application-zip
Name=Reflektions_by_linuxfever.zip
Type=Link
URL[$e]=file://$HOME/Downloads/Reflektions_by_linuxfever.zip
X-KDE-LastOpenedWith=systemsettings
