[Desktop Entry]
Icon=application-pdf
Name=satellite_L505D-LS5005.pdf
Type=Link
URL[$e]=file://$HOME/Downloads/satellite_L505D-LS5005.pdf
X-KDE-LastOpenedWith=evince
